{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'admin_invoices.css' %}">
    <title>Invoices Page</title>
</head>
<body>
    <div class="dashboard-panel" id="invoice-management">
        <h2>Invoice Management</h2>
        <div class="panel-section">
            <h3>Outstanding Invoices</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Invoice ID</th>
                        <th>Patient Name</th>
                        <th>Date Issued</th>
                        <th>Amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in invoices %}
                    <tr>
                        <td>{{ invoice.id }}</td>
                        <td>{{ invoice.appointment_or_consultation.patient.user.user.get_full_name }}</td>
                        <td>{{ invoice.invoice_date }}</td>
                        <td>${{ invoice.total_amount }}</td>
                        <td>{{ invoice.payment_status }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">No invoices found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="panel-section">
            <h3>Financial Reports</h3>
            <div>
                <label for="startDate">Start Date:</label>
                <input type="date" id="startDate">
                <label for="endDate">End Date:</label>
                <input type="date" id="endDate">
                <button class="btn btn-info" onclick="viewTurnoverByDate()">View Turnover based on selected range date</button>
                <button class="btn btn-info" onclick="viewTurnover('daily')">Daily Turnover</button>
                <button class="btn btn-info" onclick="viewTurnover('weekly')">Weekly Turnover</button>
                <button class="btn btn-info" onclick="viewTurnover('monthly')">Monthly Turnover</button>
            </div>
            
            <script>
            function viewTurnover(type) {
                var startDate = document.getElementById('startDate').value;
                var endDate = document.getElementById('endDate').value;

                let url;
                switch (type) {
                            case 'daily':
                                url = '/custom-admin/daily-turnover/';
                                break;
                            case 'weekly':
                                url = '/custom-admin/weekly-turnover/';
                                break;
                            case 'monthly':
                                url = '/custom-admin/monthly-turnover/';
                                break;
                    default:
                        alert('Invalid type specified');
                        return;
                }
            
                fetch(url)
                .then(response => response.json())
                .then(data => {
                    if(data.error) {
                        alert(data.error);
                    } else {
                        alert(`Total ${type} turnover: $` + data.turnover);
                    }
                })
                .catch(error => console.error('Error fetching turnover data:', error));
            }


            function viewTurnoverByDate() {
                var startDate = document.getElementById('startDate').value;
                var endDate = document.getElementById('endDate').value;

                if (!startDate || !endDate) {
                    alert('Please select both start and end dates.');
                    return;
                }

                var url = `/custom-admin/turnover-report?start_date=${startDate}&end_date=${endDate}`;
                fetch(url)
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                    } else {
                        alert(`Turnover from ${startDate} to ${endDate}: $` + data.turnover);
                    }
                })
                .catch(error => console.error('Error fetching turnover data:', error));
            }

            </script>
            
</body>
</html>
